src/main/resources/server.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://com/example/server"
           targetNamespace="http://com/example/server"
           elementFormDefault="qualified">

    <xs:element name="request">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hash" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>